<ion-header>
  <ion-toolbar>
    <ion-title>Pagina principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-subtitle>Musica de inicio a la misa</ion-card-subtitle>
    <ion-card-title color="primary-contrast">Introduccion</ion-card-title>
    <ion-toolbar color="none">
      <ion-button slot="end" color="primary" expand="block" routerLink="/introduccion">Ingresar</ion-button>
    </ion-toolbar>
  </ion-card>
  <ion-card>
    <ion-card-subtitle>Segunda seccion</ion-card-subtitle>
    <ion-card-title color="primary-contrast">Penitencial</ion-card-title>
    <ion-toolbar color="none">
      <ion-button slot="end" color="primary" expand="block" routerLink="/penitencial">Ingresar</ion-button>
    </ion-toolbar>
  </ion-card>
  <ion-card>
    <ion-card-subtitle>Tercera seccion</ion-card-subtitle>
    <ion-card-title color="primary-contrast">Interleccional</ion-card-title>
    <ion-toolbar color="none">
      <ion-button slot="end" color="primary" expand="block" routerLink="/interleccional">Ingresar</ion-button>
    </ion-toolbar>
  </ion-card>
  <ion-card>
    <ion-card-subtitle>Cuarta seccion</ion-card-subtitle>
    <ion-card-title color="primary-contrast">Ofrendas</ion-card-title>
    <ion-toolbar color="none">
      <ion-button slot="end" color="primary" expand="block" routerLink="/ofrendas">Ingresar</ion-button>
    </ion-toolbar>
  </ion-card>
  <ion-card>
    <ion-card-subtitle>Quinta seccion</ion-card-subtitle>
    <ion-card-title color="primary-contrast">Santo</ion-card-title>
    <ion-toolbar color="none">
      <ion-button slot="end" color="primary" expand="block" routerLink="/santo">Ingresar</ion-button>
    </ion-toolbar>
  </ion-card>
  <ion-card>
    <ion-card-subtitle>Sexta seccion</ion-card-subtitle>
    <ion-card-title color="primary-contrast">Cordero de dios</ion-card-title>
    <ion-toolbar color="none">
      <ion-button slot="end" color="primary" expand="block" routerLink="/cordero-dios">Ingresar</ion-button>
    </ion-toolbar>
  </ion-card>
  <ion-card>
    <ion-card-subtitle>Septima seccion</ion-card-subtitle>
    <ion-card-title color="primary-contrast">Canto de comunion</ion-card-title>
    <ion-toolbar color="none">
      <ion-button slot="end" color="primary" expand="block" routerLink="/cantodecomunion">Ingresar</ion-button>
    </ion-toolbar>
  </ion-card>
  <ion-card>
    <ion-card-subtitle>Octava seccion</ion-card-subtitle>
    <ion-card-title color="primary-contrast">Canto a la virgen</ion-card-title>
    <ion-toolbar color="none">
      <ion-button slot="end" color="primary" expand="block" routerLink="/cantoalavirgen">Ingresar</ion-button>
    </ion-toolbar>
  </ion-card>
  <ion-card>
    <ion-card-subtitle>Finalizacion misa</ion-card-subtitle>
    <ion-card-title color="primary-contrast">Final</ion-card-title>
    <ion-toolbar color="none">
      <ion-button slot="end" color="primary" expand="block" routerLink="/final">Ingresar</ion-button>
    </ion-toolbar>
  </ion-card>



</ion-content>